.banner{
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 15vh;
}
.bannerText{
    margin-left: 80px;
}
.bannerText h4{
    font-size: 25px;
}
.bannerText h3{
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: rgb(52, 52, 52);
}
.bannerText h1{
    font-size: 65px;
    margin: 0;
    color: rgb(88,151,251);
    font-weight: bold;
}
.bannerText button{
    margin-top: 16px;
    padding: 12px 30px;
    background: rgb(88,151,251);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    width: 160px;
    transition: 0.4s ease;
    cursor: pointer;
}
.bannerText button:hover{
    width: 170px;
}
.imgSection img{
    width: 100%;
}

.inventory{
    
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    align-content: center;
    justify-content: center;
}
.inventoryTitle{
    text-align: center;
    font-size: 25px;
    margin: 0;
    color: rgb(53, 52, 52);
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.seeAllItems{
    background: rgb(88,151,251);
    color: white;
    margin : 0 auto;
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    border-radius:10px;
}
.seeAllItems:hover{
    background: rgb(33, 115, 247);
}
.allItemBtndiv{
    display: flex;
    height : 100px;
    width : 100%;
    align-items: center;
}
.serviceBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    align-content: center;
   justify-content: center;
   margin-bottom: 10vh;
}
.sellerContainer{
    margin: 10vh 0;
}
.service img{
    width: 77px;
}
.service{
    width: 290px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.service:hover{
    color:rgb(33, 115, 247);
}
.service p{
    font-size: 14px;
}
.topSellers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 10vh;
    gap: 30px;
}
.sellerTitle{
    text-align: center;
}
.seller{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.seller p{
    margin: 4px 0;
}
.seller p:hover{
    color: rgb(33, 115, 247);
}
.icon{
    color: rgb(33, 115, 247);
}
.sellerTexts{
    padding: 15px;
}

@media screen and (max-width:700px){
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .bannerText{
        margin-left: 0;
    }
    .bannerText h3{
        font-size: 30px;
    }
    .bannerText h1{
        font-size: 40px;
    }
}
@media screen and (max-width:800px){
    .bannerText h1{
        font-size: 40px;
    }
    .bannerText h3{
        font-size: 26px;
    }
    .bannerText h4{
        font-size: 20px;
    }
}
