.nav-container{
    background:rgb(88,151,251);
    /* background:#FFEEEE; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.nav-container h3{
    color: rgb(240, 224, 240);
    /* color: rgb(200, 240, 211); */
}
.nav-container .logo{
    width: 200px;
}
a{
    text-decoration: none;
    margin-left: 25px;
    color: white;
    padding-bottom: 8px;
    font-weight: 500;
}
.active{
   
}
span{
    color:rgb(250, 143, 143);
}