.footerContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: rgb(66, 65, 65);
    color: white;
    padding: 10px;
    flex-wrap: wrap;
}
.footerLogoBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footerLogoBox h2{
    color: white;
}
.footerLogoBox h2 span{
    color: rosybrown;
}